@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
body{
	font-weight: normal;
	font-family: 'Quicksand', sans-serif;
	background-color: black;
}
a {
	text-decoration: none;
	color:white;
} 

p{
	font-weight: bold;
	color: white;
}
h4{
	color: white;
}
h1{
	font-weight: bold;
	color: white;
}
.judul h1{
 	font-weight: bold;
 }
.nav span{
	color: white;
}
.spacer{
	padding: 10px 0px; 
	height: 1px;
}

.judul h1{
	font-size: 38px;
	text-align: center;
}
.pic{
	margin:0 auto;
		width: 100%;
	text-align: center;
}
titik{
	color: red;
	font-size: 70px;
}
.quotes{
	width: 100%;
	padding: 10px 10px 10px 10px;
	text-align: center;
}
#Tidak{
	position:absolute;
	left: 52%; 
	text-align: center;
	
}
#Puas{
	position:absolute; 
	left: 35%;
	text-align: center;	
}
#No{
	position:absolute;
	left: 52%; 
	text-align: center;
	
}
#Ya{
	position:absolute; 
	left: 35%;
	text-align: center;	
}
.space{
	width: 100%;
	height: 90px;

}
.blue{
	width:200px; 
	font-weight: bold;
	background-color: #00bfff;
	text-align: center;
}
.red{
	width:200px; 
	font-weight: bold; 
	background-color: red;
	text-align: center
}
@media only screen and (max-width: 600px) {
 .judul h1{
 	font-size: 28px;
 	font-weight: bold;
 }
 #Tidak{
	position:absolute;
	left: 55%; 
	text-align: center;
	
}
#Ya{
	position:absolute; 
	left: 15%;
	text-align: center;	
}
.blue{
	width:120px; 
}
.red{
	width:120px; 

}


}